Django==4.2.3
faiss-cpu==1.7.4
google-search-results==2.4.2
ipykernel==6.24.0
ipython==8.12.2
jupyter_client==8.3.0
jupyter_core==5.3.1
langchain==0.0.229
numpy==1.24.4
openai==0.27.8
pydantic==1.10.11
pypdf==3.12.1
python-dotenv==1.0.0
requests==2.31.0
scipy==1.10.1
six==1.16.0
tiktoken==0.4.0
